.Book-Detail {
  height: 100%;
}

.book__detail {
  grid-column: 2/3;
  align-items: flex-start;
  margin: 1rem;
}

.book__detail > section {
  width: 100%;
  margin: 1rem 0;
}

.book__detail__1 div {
  flex: 1;
}

.book__detail__1 div > * {
  margin: 0.3rem;
}

.book__detail .detail__image {
  margin-right: 1rem;
  height: 400px;
  padding: 1rem;
  background: white;
  border: 1px solid var(--clr-gray-light);
}

.book__detail .detail__specs > * {
  border: 1px solid var(--clr-gray-light);
  padding: 0.5rem;
  background: white;
}

.book__detail .detail__specs {
  width: auto;
}

.book__detail .detail__icon-features > div {
  padding: 0.5rem;
  text-align: center;
}

.book__detail .detail__specs__table div {
  padding: 0.5em 1.25em;
  display: grid;
  grid-template-columns: 20% 80%;
}

.book__detail .book__detail__1 > div {
  align-items: flex-start;
}
