.card__price {
  align-items: center;
  font-size: 1rem;
  flex-wrap: wrap;
}

.card__price .price__mrp strike {
  font-size: 0.7rem;
}

.card__price .price__discount {
  color: var(--clr-primary);
}

.card__price > * {
  margin-right: 0.6rem;
}
